<div style="padding: 30px 30px;">
    <p>Personal Details</p>
    <form style="row-gap: 40px" class="text-xs my-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-wrap leftCol">
            <div class="formField">
                <mat-form-field style="width: 100%;" class="w-full" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input name="firstname" formControlName="firstName" matInput required placeholder="Firstname"/>
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-form-field style="width: 100%;" class="w-full" appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input name="middlename" formControlName="middleName" matInput placeholder="Middlename" />
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-form-field style="width: 100%;" class="w-full" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input name="lastname" formControlName="lastName" matInput required placeholder="Lastname" />
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-form-field style="width: 100%;" class="w-full" appearance="outline">
                    <mat-label>Bvn</mat-label>
                    <input name="bvn" formControlName="bvn" matInput required placeholder="Lastname" />
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-form-field style="width: 100%;" class="w-full" appearance="outline">
                    <mat-label>Occupation</mat-label>
                    <input name="occupation" formControlName="occupation" matInput required placeholder="Lastname" />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
